:root {
    --background_colour_one: #FFFFFF;
    --background_colour_two: #FFFFFF;
    --highlight_colour: #000000;
}

html, body {
    height : 100%;
}

body {
    margin:0;
    background-color: var(--background_colour_two);
    font-family: 'Montserrat';
}

a {
    text-decoration: none;
    color: var(--highlight_colour);
}
.wrapper {
    width:100%;
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--background_colour_one);
    box-sizing: border-box;
}

.inner {
    width:100%;
    max-width: 1440px;
    margin: 0 auto;
    height : inherit;

}

.header{
    background-color: #FFFFFF;
    height: 125px;
}

.page_menu{
    display: flex;
    justify-content: center;
    font-size: 16;
    line-height: 125px;
}

.page_menu b{
    margin-left: 7.75px;
    transform: rotate(-90deg);
    font-size: 40;
}

.page_menu a{
font-weight: 400;
margin-left: 40px;

}

.annoying_interclass{
    transform: rotate(-90deg);
}

.page_menu span{
    margin-right: 165px;
}



.header_inner{
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 40px;
    font-weight: 300;
    line-height: 125px;
    margin-right:57px;
    
}

.logo span{
    font-weight: 700;
}

.login{
    line-height: 125px;
    font-size: 16;
    font-weight: bold;
}

.book_demo{
    line-height: 125px;
    font-size: 16;
    font-weight: bold;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    margin-top: 37px;
    width: 144px;
    height: 48px;
    
    
    border-top: 30px;
    
    /* Green */
    
    background: #79E2B7;
    border-radius: 10px;
}

.header_inner a:hover {
    text-decoration: underline;
}

.book_demo span:hover{
    text-decoration: underline;
}

.login span:hover{
    text-decoration: underline;
}

.hero_header {
    width:100%;
    max-width: 1440px;
    margin: 0 auto;
    height : inherit;
}




.Largeherotext {
    width: 800px;
    height: 136px;
    
    margin-top: 145px;
    
    bottom:0;
    left: 320px;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 68px;

    color: #000000;

}

.imagecontainer {
    float: right;
    background-color: var(--background_colour_one);
    
}

.bottom_image1  {
    position: relative;
    width: 233.99px;
    height: 258.24px;
    left: -170px;
    top: -250.02px;
    bottom:0;
    transform: rotate(-5.4deg);
}

.bottom_image2 {
position: relative;    
width: 294.26px;
height: 259.15px;
left: 130.91px;
top: -310px;
bottom:0;
transform: rotate(0.43deg);
}

.top_image {
    margin-top: 22px;
position: relative;
left: 0px;
right: 0;
top: -800px;
bottom: 0;
}

.text_review {
    
left: 0%;
right: 0%;
top: 24.29%;
bottom: 28.87%;


font-style: normal;
font-weight: 400;
font-size: 7.93177px;
line-height: 13px;
/* or 167% */

letter-spacing: 0.03em;

/* Black */

color: #000000;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 0px;
}
